.SquareFather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.SquareSon {
    height: 400px;
    width: 400px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.TextSquare {
    color: white;
}

.Controller {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 50px;
}